html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
}
.panel {
  margin-bottom: 20px;
  /*background-color: yellow; */
/*  width: inherit;;
  height: inherit;;*/
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}
.panel-body {
  padding: 15px;
}
.navbar-inverse {
  background-color: #222;
  border-color: #080808;
  width: 100%;
  height: 100%;
}
