<!-- Componentes que conforman el encabezado -->
<div class="container">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <p class="navbar-text"> -- MiRuta --</p>
            <div class="pull-right">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#/registro">Registro</a></li>
                    <li><a href="#/inicioSesion">Sing in</a></li>
                </ul>
            </div>
        </div>
</div>
