<!-- Componentes visuales de la pantalla principal de la aplicacion y los archivos que se van a emplear -->

<!doctype html>
<html ng-app="myApp">
<head>
  <title>{{title}}</title>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.min.js"></script>
  <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.1.3.js"></script>

  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/MasterDetailStyles.css">

  <!-- Servicios de conexion con el servidor -->
  <script src="js/services/moduleAppServices.js"></script>
  <script src="js/services/conectionDBServ.js"></script>
  <script src="js/services/servicesWebCtrl.js"></script>

  <!-- path de los controladores y modulos -->
  <script src="principal/js/pricipalModule.js"></script>
  <script src="administrator/js/adminModule.js"></script>
  <script src="administrator/js/adminSrv.js"></script>
  <script src="administrator/js/interestCtrl.js"></script>
  <script src="administrator/js/listUsersCtrl.js"></script>
  <script src="administrator/js/listLinesCtrl.js"></script>
  <script src="administrator/js/formLinesCtrl.js"></script>
  <script src="administrator/js/formUsersCtrl.js"></script>
  <script src="principal/js/inicioCtrl.js"></script>
  <script src="principal/js/recorridoCtrl.js"></script>
  <script src="principal/js/transportesCtrl.js"></script>
  <script src="map/js/mapCtrl.js"></script>

  <!-- angular-google-maps -->
  <script src="http://willleahy.info/ng-maps/bower_components/ng-maps/dist/ng-maps.js"></script>
  <script src="http://maps.google.com/maps/api/js?key=AIzaSyANrSuzPdZTnNvR6Z-0DyGAIzEktlf-Cl8&sensor=false"></script>
  <script src="http://rawgit.com/allenhwkim/angularjs-google-maps/master/build/scripts/ng-map.min.js"></script>

  <!-- ENCABEZADO -->
  <script src="encabezado/js/compEncabezado.js"></script>
  <script src="js/myApp.js"></script>
  <script src="js/routes.js"></script>

</head>
<body>
  <!-- Modificamos el estilos de los componentes de bootstrap -->
  <style type="text/css">
  form.tab-form-demo .tab-pane {
    margin: 20px 20px;
  }
  </style>
  <encabezado></encabezado>
  <!-- la directiva ng-view es para determinar la parte de la vista que se cambiara dependiendo la url -->
  <div class="container" ng-view=""></div>
</body>
</html>
