<!-- Pantalla de la opcion "Informacion" de la pantalla de inicio -->
<div class="container-fluid">
  <h3>Datos de informacion turistica</h3>
  <p>Punto de interes 1</p>
  <p>Punto de interes 2</p>
</div>
