<!-- Pantalla de la opcion "Sign in" que se encuentra en la barra de navegacion -->
<div class="container-fluid">
  <div class="panel panel-primary">
    <h1>Configuracion del inicio de sesion</h1>
  </div>
</div>
