<!-- componentes que determinan las tabs que se muestran en la pantalla de inicio de la app -->
<div class="container-fluid col-xs-12 col-md-12">
  <div class="panel col-xs-12 col-md-3">
    <uib-tabset active="activePill" vertical="true" type="pills">
          <uib-tab ng-repeat="tab in tabs" heading="{{tab.title}}"
          active="true" href="{{tab.url}}" justified="true">
            <div class="panel-default" heading="Busqueda de recorridos" ng-include="tab.template"></div>
          </uib-tab>
    </uib-tabset>
  </div>

<!-- Contenedor del mapa -->
  <div id="containerMap" class="panel col-md-9" ng-controller="MapController">
    <ng-map center="[{{map.center.latitude}}, {{map.center.longitude}}]" zoom="{{map.zoom}}">
      <marker ng-repeat="p in puntoRecuperadosDB track by $index" position="[{{p.latitud}},{{p.longitud}}]"></marker>
    </ng-map>
  </div>
</div>
