<!-- Pantalla de la opcion "Busqueda de recorridos" de la pantalla de inicio -->
<div class="panel-default" heading="Busqueda de recorridos" ng-controller="ControladorOpcionesBusqueda">
  <hr>
  <input type="text" class="form-control"
             placeholder="Dirección de origén" uib-tooltip="Escriba o indique en el mapa la direccion del luger de origen">
  </input>
  <input type="text" class="form-control"
             placeholder="Dirección de destino" uib-tooltip="Escriba o indique en el mapa la direccion del luger de destino">
  </input>
  <hr>
  <button type="button" class="btn btn-sm btn-info btn-justified">Intercambiar origen y destino</button>
  <hr>
  <!-- Contenedor de los distintos tipos de recorridos posibles -->
  <h4>Seleccione el medio</h4>
  <div class="form-group">
      <select class="form-control" ng-model="defaultOption" ng-options="o as o for o in opcionesRecorrido"></select>
  </div>
  <button type="button" class="btn btn-sm btn-default btn-justified">Buscar recorrido</button>
  <hr>
  <label>Aca van los resultados de las busquedas</label>
</div>
