<!-- Pantalla de la opcion "Registro de usuarios" que se encuentra en la barra de navegacion -->
<div class="container-fluid">
  <div class="panel panel-primary">
    <h1>Registro de usuarios</h1>
  </div>
</div>
