<!-- Componentes de la pantalla de la opcion "Transportes"-->
<div class="panel-default" heading="Transportes" ng-controller="ControladorTransportes">
  <hr>
  <h4>Informacion de lineas de transportes</h4>
  <div class="form-group">
      <select class="form-control" ng-model="defaulLineOption" ng-options="o as o for o in lineasTransportes"></select>
  </div>
  <hr>
  <button type="button" class="btn btn-sm btn-info btn-justified">Recorrido</button>
  <button type="button" class="btn btn-sm btn-info btn-justified">Paradas</button>
  <button type="button" class="btn btn-sm btn-info btn-justified">Datos de funcionamiento</button>
  <hr>
  <label>Aca va la info de los transportes</label>
</div>
