<div class="panel" ng-controller="AdminController">
  <div class="panel-heading alert alert-info">
    <h1>Configuracion del administrador</h1>
  </div>
  
  <uib-tabset active="activePill" type="pills">
        <uib-tab ng-repeat="tab in infoTabs" heading="{{tab.title}}" active="true">
          <div class="panel-default" ng-include="tab.template"></div>
        </uib-tab>
  </uib-tabset>
</div>
