<div class="panel" >
  <div class="panel-heading alert alert-info">
    <h1>{{user.id ? 'Editando usuario ' + user.id : 'Nuevo usuario'}}</h1>
  </div>
  <div class="panel-body">
    <form novalidate="true" class="simple-form" name="contact">
      <div class="form-group">
        <label for="nombre">Nombre: </label>
        <input class="form-control" type="text" ng-model="user.nombre" required="" ng-pattern= "onlyLetters" name="nombre"/>
        <span ng-show="!contact.$pristine && contact.nombre.$error.pattern">El nombre indicado no es válido.</span>
        <span ng-show="!contact.$pristine && contact.nombre.$error.required">Debe completar el nombre.</span>
      </div>
      <div class="form-group">
        <label for="apellido">Apellido: </label>
        <input class="form-control" type="text" ng-model="user.apellido" required="" ng-pattern= "onlyLetters" name="apellido"/>
        <span ng-show="!contact.$pristine && contact.apellido.$error.pattern">El apellido ingresado no es válido.</span>
        <span ng-show="!contact.$pristine && contact.apellido.$error.required">Debe completar el apellido.</span>
      </div>
      <div class="form-group">
        <label for="email">E-mail: </label>
        <input class="form-control" type="text" ng-model="user.email" required="" ng-pattern="emailVal" name="email"/>
        <span ng-show="!contact.$pristine && contact.email.$error.pattern">El email ingresado no es válido.</span>
        <span ng-show="!contact.$pristine && contact.email.$error.required">Debe completar el email.</span>
      </div>
    </form>
  </div>
  <div class="panel-footer">
    <input type="button" ng-click="resetUser()" value="Nuevo" class="btn btn-default"/>
    <input type="submit" ng-click="updateUser()" value="Guardar"  ng-disabled="contact.$invalid" class="btn btn-default"/>
    <input type="submit" ng-click="go('/administrator')" value="Cancelar" class="btn btn-default"/>
  </div>
</div>
