<div class="panel">
  <div class="panel-heading alert alert-info">
    <h1>{{line.id ? 'Editando linea ' + line.id : 'Nueva linea'}}</h1>
  </div>
  <div class="panel-body">
    <form novalidate="true" class="simple-form" name="contact">
      <div class="form-group">
        <label for="nombre">Nombre: </label>
        <input class="form-control" type="text" ng-model="line.nombre" required="" ng-pattern= "onlyLetters" name="nombre"/>
        <span ng-show="!contact.$pristine && contact.nombre.$error.pattern">El nombre indicado no es válido.</span>
        <span ng-show="!contact.$pristine && contact.nombre.$error.required">Debe completar el nombre.</span>
      </div>
      <div class="form-group">
        <label for="frecuencia">Frecuencia(min): </label>
        <input class="form-control" type="text" ng-model="line.frecuencia" required="" ng-pattern= "onlyNumbers" name="frecuencia"/>
        <span ng-show="!contact.$pristine && contact.frecuencia.$error.pattern">La frecuencia indicada no es válido.</span>
        <span ng-show="!contact.$pristine && contact.frecuencia.$error.required">Debe completar la frecuencia de recorrido.</span>
      </div>
      <div class="form-group">
        <label for="boleto">Precio de boleto:</label>
        <input class="form-control" type="number" ng-model="line.boleto" required="" ng-pattern= "onlyNumbers" name="boleto"/>
        <span ng-show="!contact.$pristine && contact.boleto.$error.pattern">El precio del boleto indicado no es válido.</span>
        <span ng-show="!contact.$pristine && contact.boleto.$error.required">Debe asignar un precio de boleto.</span>
      </div>
      <div class="form-group">
        <label for="empresa">Empresa a la que pertenece:</label>
        <select class="form-control" ng-model="line.empresa" required="" name="empresa" ng-options="o as o for o in empresas"></select>
        <span ng-show="!contact.$pristine && contact.empresa.$error.required">Debe seleccionar una empresa.</span>
      </div>
    </form>
  </div>
  <div class="panel-footer">
    <input type="button" ng-click="resetLine()" value="Nuevo" class="btn btn-default"/>
    <input type="submit" ng-click="updateLine()" value="Guardar"  ng-disabled="contact.$invalid" class="btn btn-default"/>
    <input type="submit" ng-click="go('/administrator')" value="Cancelar" class="btn btn-default"/>
  </div>
</div>
