<div id="divMasterDetailWrapper" ng-controller='interestController' style="position:relative;">

    <!-- Primero, nuestra lista izquierda de provincias -->
    <div id="divMasterView">
        <div id="{{itemProvincia.provinciaID}}" class="cssOneCompanyRecord" ng-class="{cssCompanySelectedRecord: itemProvincia.provinciaID == provinciaElegida}" ng-repeat='itemProvincia in listaProvincias' ng-click="elegirProvincia(itemProvincia);">
            <div class="cssCompanyName">{{itemProvincia.provincia}}</div>
            <div class="cssCompanyCity">Superficie: {{itemProvincia.superficie}}</div>
            <div class="cssCustomerID">{{itemProvincia.provinciaID}}</div>
        </div>
    </div>

    <!-- Luego, en el panel izquierdo, mostramos la lista de ciudade -->
    <div id="divDetailView">
        <!-- AngularJS crea un <div> por cada ciudad presente en la provincia -->
        <div id="Ciudad_{{itemCiudad.ciudadID}}" ng-repeat="itemCiudad in listaCiudades" class="cssOneOrderRecord">
            <!-- Cada ciudad tiene un header bar -->
            <div class="cssOneOrderHeader">
                <div class="cssOrderID">{{itemCiudad.ciudadID}}</div>
                <div class="cssOrderDate">Ciudad: {{itemCiudad.ciudad}}</div>
            </div>

            <!-- AngularJS will create one DIV for each Product in this particular Order -->
            <div class="cssOneProductRecord" ng-repeat='itemSitios in itemCiudad.sitiosInteres' ng-class="{ cssProductEven: (($index%2) == 0), cssProductOdd: ($index%2)}">
                <div class="cssOneProductName">{{itemSitios.sitio}}</div>
                <div class="cssOneProductPrice">{{itemSitios.latitud}}</div>
                <div class="cssOneProductSubtotal">{{itemSitios.longitud}}</div>
            </div>
        </div>
    </div>
    <div id="containerMap" class="panel col-md-9">
        <ng-map center="[{{provinciaElegida.latitud}}, {{provinciaElegida.longitud}}]" zoom="{{provinciaElegida.zoom}}">
            <marker ng-repeat="s in listaCiudades.sitiosInteres" position="[{{p.latitud}},{{p.longitud}}]"></marker>
        </ng-map>
    </div>
</div>