<div class="panel" ng-controller = "ListLinesCtrl">
  <div class="panel-heading alert alert-info">
    <h4>Transportes</h4>
  </div>
  <div class="panel-body">
    <table class="table">
      <thead>
        <th>{{dataTableTransportation.nombre}}</th>
        <th>{{dataTableTransportation.frecuencia}}</th>
        <th>{{dataTableTransportation.boleto}}</th>
        <th>{{dataTableTransportation.empresa}}</th>
        <th></th>
      </thead>
      <tbody>
        <tr ng-repeat="line in dataLines | orderBy:'empresa'">
          <td>{{line.nombre | mayus}}</td>
          <td>{{line.frecuencia}}</td>
          <td>{{line.boleto}}</td>
          <td>{{line.empresa}}</td>
          <td><a href="#/transport/{{line.id}}"><i class="glyphicon glyphicon-pencil"></i></a></td>
        </tr>
      </tbody>
    </table>
    <input type="button" ng-click="go('/line')" value="Nuevo" class="btn btn-default"/>
  </div>
</div>
