<div class="panel" ng-controller = "ListUsersCtrl">
  <div class="panel-heading alert alert-info">
    <h4 justified="true">Usuarios</h4>
  </div>
  <div class="panel-body">
    <table class="table">
      <thead>
        <!-- <th>#</th>
        <th>Id</th> -->
        <th>{{dataTableUser.nombre}}</th>
        <th>{{dataTableUser.apellido}}</th>
        <th>{{dataTableUser.email}}</th>
        <th></th>
      </thead>
      <tbody>
        <tr ng-repeat="user in dataUsers">
          <!-- <td>{{$index}}</td>
          <td>{{user.id}}</td> -->
          <!-- <td>{{user.nombre}}</td>
          <td>{{user.apellido}}</td> -->
          <td>{{user.nombre | mayus}}</td>
          <td>{{user.apellido | mayus}}</td>
          <td><a href="#/user/{{user.id}}"><i class="glyphicon glyphicon-pencil"></i></a></td>
        </tr>
      </tbody>
    </table>
    <input type="button" ng-click="go('/user')" value="Nuevo" class="btn btn-default"/>
  </div>
</div>
